*{
    padding:0px;
    margin:0px;
    }
 body{
        padding:50px 0px 0px 0px;
        z-index:0;
    }
.jumbotron{ 
        background-color:white;
        padding:70px 0px 70px 0px;
        margin:50px auto;
        height:100%;
    }
.navbar-brand img{
        width:120px;
        border-radius:50%;
    }
.navbar-dark{
        background:#083358;
    }
    .nav-link
    {
        font-size:1.5em;
    }
.display-4
    {
        
        font-weight:700;
    }
.image,img
{
        border-radius:10px;
        width:300px;
        max-width: 100%;
        height:auto;
    }
.btn-team    
{
        background-image:linear-gradient(to bottom right, #FFAA00, #F1726C); 
}
cite
{
        font-weight:600; 
        font-size:1.2em;
}
.row-footer
{
    padding:30px 0px 30px 0px;
    min-height:200px;
    margin:0px auto;
    background-color:#cbffce;
}
